<footer id="footer" class="page-footer center-on-small-only unique-color-dark pt-0">

    <div class="info-color-dark text-center py-4">

      <!--Contact-->
      <a id="footer-link-angular-contact" href="/contact" data-toggle="modal" data-target="#contactForm" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Contact
        <i class="fas fa-envelope white-text ml-2"> </i>
      </a>
  
    </div>
  
    <!-- Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-3 col-xl-3">
          <h6 class="spacing font-weight-bold">
            <strong>Company</strong>
          </h6>
          <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-envelope mr-3"></i> lloyd@lloydsauto.com </p>
        </div>
        <!--/.Fourth column-->
        <div class="col-md-2 col-lg-2 col-xl-2 mb-r">
          <h6 class="spacing font-weight-bold">
            <strong>Hours</strong>
          </h6>
          <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <div id="hours">
            <p>Monday: 9:00AM - 5:00PM</p>
            <p>Tuesday: 9:00AM - 5:00PM</p>
            <p>Wednesday: 9:00AM - 5:00PM</p>
            <p>Thursday: 9:00AM - 5:00PM</p>
            <p>Friday: 9:00AM - 5:00PM</p>
            <p>Saturday: 9:00AM - 3:00PM</p>
            <p>Closed</p>
         </div>
        
        </div>
      </div>
    </div>
    <!--/.Footer Links-->
  
    <!-- Copyright-->
    <div class="footer py-1 text-center">
    </div>
    <!--/.Copyright -->
  
  </footer>
