<app-navbar></app-navbar>

<div style="background-color:lightslategrey">
<div class="container">
  <app-car-list></app-car-list>
</div>
</div>
<app-footer></app-footer>
  <!-- <div id="title-card">
    <div id="main" style="color:#038cb8">
      Cars for Sale
    </div>
  </div> -->
  
  <!-- <div id="wrapper">
    <div class="col" id="card">
      <div id="description">
        <h1 style="color:#038cb8">Hyundai Elantra</h1>
        <h3>Transmission: Automatic</h3>
        <h3>Miles: 130,000</h3>
        <h3>Color: Grey</h3>
      </div>
      <img src="../assets/Hyundai.jpg" id="pic" />
    </div>

    <div class="col" id="card">
      <div id="description">
        <h1 style="color:#038cb8">Scion TC</h1>
        <h3>Transmission: Manual</h3>
        <h3>Miles: 80,000</h3>
        <h3>Color: Black</h3>
      </div>
      <img src="../assets/Scion.jpeg" id="pic" />
    </div>
  </div>

  <div id="wrapper">
    <div class="col" id="card">
      <div id="description">
        <h1 style="color:#038cb8">Toyota Prius</h1>
        <h3>Transmission: Automatic</h3>
        <h3>Miles: 170,000</h3>
        <h3>Color: Gold</h3>
      </div>
      <img src="../assets/Toyota.jpg" id="pic" />
    </div>

    <div class="col" id="card">
      <div id="description">
        <h1 style="color:#038cb8">Ford F-150</h1>
        <h3>Transmission: Manual</h3>
        <h3>Miles: 200,000</h3>
        <h3>Color: White</h3>
      </div>
      <img src="https://st.motortrend.com/uploads/sites/10/2017/08/2018-Ford-F-150-front-three-quarter-in-motion-07.jpg" id="pic" />
    </div>
  </div>
  </div>
  <app-footer></app-footer> -->



