<app-navbar></app-navbar>

  <div class="col align-self-start">
    <mdb-carousel [animation]="'slide'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/Hyundai.jpg" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/Scion.jpeg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/Toyota.jpg" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

<app-reviews></app-reviews>
<div class="w-100"></div>
<div class="col-12 col-md-auto"></div>


  <app-footer></app-footer>

<!-- <div id="reviews">
    <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
            <div class="col-sm rounded">
                Lloyd's Auto Sales is the best! Lloyd has been a blessing with his reasonable prices and great professional advice. He truly is a stand up guy! Once you visit,  you'll be confident in your decision from the moment you get there!! Good old fashion service, love it!
              </div>
        </mdb-carousel-item>
      </mdb-carousel>
</div> -->