<div class="container rounded">
  <div class="row">
      <div class="col-sm-4 rounded">
        Lloyd's Auto Sales is the best! Lloyd has been a blessing with his reasonable prices and great professional advice. He truly is a stand up guy! Once you visit,  you'll be confident in your decision from the moment you get there!! Good old fashion service, love it!
      </div>
 

      <div class="col-sm-4 rounded">
        Been Bringing All my cars here for years!!!! Best Customer Service! Tell Frank I sent you!!!
      </div>

      <div class="col-sm-4 rounded">
        The best mechanic. Excellent personality.
      </div>
  </div>
</div>